<div class="row">
	<h2>Conheça nossa loja</h2>
</div>


<div class="row">
	<div class="small-6 columns">
		<div class="desc">
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
		</div>
	</div>

	<div class="small-5 small-offset-1 columns">
		<ul class="no-bullet list-simple-with-3">
			<li>
				<a class="fancybox" href="http://www.placehold.it/1250x1250/.jpg">
					<img src="http://www.placehold.it/125x125" alt="">
				</a>
			</li>

			<li>
				<a class="fancybox" href="http://www.placehold.it/1250x1250/.jpg">
					<img src="http://www.placehold.it/125x125" alt="">
				</a>
			</li>

			<li>
				<a class="fancybox" href="http://www.placehold.it/1250x1250/.jpg">
					<img src="http://www.placehold.it/125x125" alt="">
				</a>
			</li>

			<li>
				<a class="fancybox" href="http://www.placehold.it/1250x1250/.jpg">
					<img src="http://www.placehold.it/125x125" alt="">
				</a>
			</li>

			<li>
				<a class="fancybox" href="http://www.placehold.it/1250x1250/.jpg">
					<img src="http://www.placehold.it/125x125" alt="">
				</a>
			</li>

			<li>
				<a class="fancybox" href="http://www.placehold.it/1250x1250/.jpg">
					<img src="http://www.placehold.it/125x125" alt="">
				</a>
			</li>

			<li>
				<a class="fancybox" href="http://www.placehold.it/1250x1250/.jpg">
					<img src="http://www.placehold.it/125x125" alt="">
				</a>
			</li>

			<li>
				<a class="fancybox" href="http://www.placehold.it/1250x1250/.jpg">
					<img src="http://www.placehold.it/125x125" alt="">
				</a>
			</li>

			<li>
				<a class="fancybox" href="http://www.placehold.it/1250x1250/.jpg">
					<img src="http://www.placehold.it/125x125" alt="">
				</a>
			</li>
		</ul>
	</div>
</div>



<!-- Marcas -->
<div class="row">
	<ul class="no-bullet slider-brands">
		<li><a href=""><img src="assets/images/brands/1.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/2.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/3.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/4.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/5.png" alt=""></a></li>
	</ul>
</div>


<!-- Produtos -->		
<div class="list-products">
	<div class="row">
		<h4>Lançamentos</h4>
	</div>

	<ul class="no-bullet list-of-products list-of-products-centered">
		<li>
			<a href="">
				<div class="img-holder">
					<img src="assets/images/products/1.jpg" alt="">
				</div>

				<span class="title">
					Central Multimidia Toyota Corolla Modelo C7002TC
				</span>

				<span class="price">
					U$ 400,00
				</span>

				<span class="featured">
					Lançamento
				</span>

				<div class="add-to-cart"></div>
			</a>
		</li>

		<li>
			<a href="">
				<div class="img-holder">
					<img src="assets/images/products/1.jpg" alt="">
				</div>

				<span class="title">
					Central Multimidia Toyota Corolla Modelo C7002TC
				</span>

				<span class="price">
					U$ 400,00
				</span>

				<span class="featured">
					Lançamento
				</span>

				<div class="add-to-cart"></div>
			</a>
		</li>
	</ul>
</div>