<div class="row">
	<h2>Conheça nossas marcas</h2>
</div>


<!-- Lista -->
<div class="row" ng-if="$root.marcas.length > 0">
	<div>
		<ul class="no-bullet jsc">
			<li class="small-6 medium-2 columns" style="padding: 3.75px; border: 1px solid #ddd; height: 162.5px;" ng-repeat="marca in $root.marcas">
			  <a ui-sref="brand({idmarca: marca.id + '-' + marca.url.url})">
				  <img ng-src="{{marca.imagem}}" border="0" alt="" ng-if="marca.imagem != ''">
				  <p ng-if="marca.imagem === ''" ng-bind="marca.nome" align="center"></p>
				</a>
			</li>
			<a href="next.html" class="more next" style="display: none;">ABRIR MAIS MARCAS</a>
		</ul>					
	</div>
</div>



<!-- Marcas -->
<div class="row" style="display: none;">
	<ul class="no-bullet slider-brands">
		<li><a href=""><img src="assets/images/brands/1.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/2.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/3.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/4.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/5.png" alt=""></a></li>
	</ul>
</div>


<!-- Produtos -->		
<div class="list-products row">
  <div class="phrase small-12 columns">
  	<h4>Lançamentos</h4>
  </div>

  <ul class="no-bullet row list-of-products">
  	<li class="small-12 medium-4 columns" ng-repeat="produto in lancamentos">
  		<a ui-sref="product({idcategoria: produto.urlcategoria, idproduto: produto.urlproduto})" ng-click="$root.setProduto(produto)">
  			<div class="img-holder">
  				<img ng-src="{{produto.imagens[0].imagem.thumb}}" alt="">
  			</div>

  			<span class="title">
  				{{produto.nome}}
  			</span>

  			<span class="price">
  				{{produto.amostra}}
  			</span>
  		</a>
  	</li>
  </ul>
</div>