<div class="row">
	<h2>Meu orçamento</h2>
</div>


<div class="row">
	<table class="estimate-table" cellspacing="0" cellpading="0">
		<thead>
			<tr>
				<th>Produto</th>
				<th>Valor</th>
				<th>Qtd</th>
				<th>Valor Total</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td width="450">
					<div class="img-wrapper">
						<img src="assets/images/products/1.jpg" alt="">
					</div>

					<span>Capacete Shoei</span>
				</td>

				<td width="150">
					U$ 140.00
				</td>

				<td width="100">
					<input type="text" class="qtd">
				</td>

				<td width="150">
					U$ 140.00
				</td>

				<td width="150">
					<div class="close"></div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="img-wrapper">
						<img src="assets/images/products/1.jpg" alt="">
					</div>

					<span>Capacete Shoei</span>
				</td>

				<td>
					U$ 140.00
				</td>

				<td>
					<input type="text" class="qtd">
				</td>

				<td>
					U$ 140.00
				</td>

				<td>
					<div class="close"></div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="img-wrapper">
						<img src="assets/images/products/1.jpg" alt="">
					</div>

					<span>Capacete Shoei</span>
				</td>

				<td>
					U$ 140.00
				</td>

				<td>
					<input type="text" class="qtd">
				</td>

				<td>
					U$ 140.00
				</td>

				<td>
					<div class="close"></div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="img-wrapper">
						<img src="assets/images/products/1.jpg" alt="">
					</div>

					<span>Capacete Shoei</span>
				</td>

				<td>
					U$ 140.00
				</td>

				<td>
					<input type="text" class="qtd">
				</td>

				<td>
					U$ 140.00
				</td>

				<td>
					<div class="close"></div>
				</td>
			</tr>
		</tbody>
	</table>

	<div class="estimate-actions">
		<ul class="no-bullet">
			<li class="email">
				<a href="#">
					<span class="icon"></span>

					<span class="title">
						Enviar por e-mail
						<small>ENVIAR PARA MINHA CAIXA DE MENSAGEM</small>
					</span>
				</a>
			</li>

			<li class="print">
				<a href="#">
					<span class="icon"></span>

					<span class="title">
						Imprimir
						<small>Meu orçamento</small>
					</span>
				</a>
			</li>

			<li class="input">
				<a href="#">
					<input type="text" placeholder="Digite aqui seu e-mail">
					<input type="submit" value="Enviar">
				</a>
			</li>

			<li class="save">
				<a href="#">
					<span class="icon"></span>

					<span class="title">
						Salvar em pdf
						<small>Gerar arquivo</small>
					</span>
				</a>
			</li>
		</ul>
	</div>

	<div class="estimate-total">
		<small>
			Valor Total
		</small>

		U$ 42.00
	</div>
</div>



<!-- Marcas -->
<div class="row">
	<ul class="no-bullet slider-brands">
		<li><a href=""><img src="assets/images/brands/1.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/2.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/3.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/4.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/5.png" alt=""></a></li>
	</ul>
</div>


<!-- Produtos -->		
<div class="list-products">
	<div class="row">
		<h4>Lançamentos</h4>
	</div>

	<ul class="no-bullet list-of-products list-of-products-centered">
		<li>
			<a href="">
				<div class="img-holder">
					<img src="assets/images/products/1.jpg" alt="">
				</div>

				<span class="title">
					Central Multimidia Toyota Corolla Modelo C7002TC
				</span>

				<span class="price">
					U$ 400,00
				</span>

				<span class="featured">
					Lançamento
				</span>

				<div class="add-to-cart"></div>
			</a>
		</li>

		<li>
			<a href="">
				<div class="img-holder">
					<img src="assets/images/products/1.jpg" alt="">
				</div>

				<span class="title">
					Central Multimidia Toyota Corolla Modelo C7002TC
				</span>

				<span class="price">
					U$ 400,00
				</span>

				<span class="featured">
					Lançamento
				</span>

				<div class="add-to-cart"></div>
			</a>
		</li>
	</ul>
</div>

<!-- Newsletter -->
<div class="row">
	<div class="newsletter">
		<div class="title">
			Receba em seu email nossas melhores ofertas.
		</div>

		<form action="">
			<input type="text" placeholder="nome">
			<input type="text" placeholder="e-mail">

			<input type="submit" value="enviar">
		</form>
	</div>
</div>