<div class="row product-detail">
  <div class="col-xs-12">
    <ol class="breadcrumb">
      <li><a href="/">Página Principal</a></li>
      <li ng-repeat="categoria in breadcrumb" ng-class="{'active': categoria.id == $root.produto.categorias[0].id}" ng-if="categoria.id > 0">
        <a href="/c/{{categoria.id}}-{{categoria.url.url}}">{{categoria.nome}}</a>
      </li>
      <li class="active">{{$root.produto.nome}}</li>
    </ol>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="row">
      <div class="col-xs-12 image-main" ng-hide="imagens.lista.length <= 0">
        <a href="{{$root.productImagesURL}}{{imagens.destaque.imagem}}" class="MagicZoom"
           data-options="zoom-position:inner; variableZoom: true; cssClass: white-bg" id="imagem"><img
          src="{{$root.productImagesURL}}{{imagens.destaque.imagem | resizeImage:600:600}}"/></a>
      </div>
      <div class="col-xs-12 image-main" ng-show="imagens.lista.length <= 0">
        <img src="/images/no-image.gif"/></a>
      </div>
    </div>
    <div class="row hidden-xs gallery-thumbs" ng-hide="imagens.lista.length <= 1">

      <a data-zoom-id="imagem" href="{{$root.productImagesURL}}{{imagem.imagem}}"
         data-image="{{$root.productImagesURL}}{{imagem.imagem | resizeImage:600:600}}"
         ng-repeat="imagem in imagens.lista">
        <img src="{{$root.productImagesURL}}{{imagem.imagem | resizeImage:100:100}}"/>
      </a>

    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <h3>{{$root.produto.nome}}</h3>

    <p>
      <span>Marca: <strong>{{$root.produto.marca.nome}}</strong></span>
      <span>Referência: <strong>{{$root.produto.codigo}}</strong></span>
    </p>

    <div ng-if="$root.produto.valorreal >  && $root.produto.disponivel">
      <div class="col-xs-6 col-sm-4 us">
        {{$root.produto.valorreal | moeda:"U$"}}
      </div>
      <div class="col-xs-6 col-sm-4 rs">
        {{($root.produto.valorreal*$root.cambio['real']) | moeda:"R$"}}
      </div>
    </div>
    <div ng-if="$root.produto.valorvenda > 0 && $root.produto.disponivel">
      <div class="col-xs-6 us-sub">
        {{$root.produto.valorreal | moeda:"U$"}}
      </div>
      <div class="col-xs-6 rs-sub">
        {{($root.produto.valorreal*$root.cambio['real']) | moeda:"R$"}}
      </div>
      <div class="col-xs-6 us">
        {{$root.produto.valorvenda | moeda:"U$"}}
      </div>
      <div class="col-xs-6 rs">
        {{($root.produto.valorvenda*$root.cambio['real']) | moeda:"R$"}}
      </div>
    </div>
    <div ng-if="$root.produto.valorreal > 0 && $root.produto.disponivel">
      <div class="col-xs-12 consult" style="color: #2da710">
        Disponível
      </div>
    </div>
    <div ng-if="$root.produto.valorreal <= 0 && $root.produto.disponivel">
      <div class="col-xs-12 consult">
        Consulte
      </div>
    </div>
    <div ng-if="!$root.produto.disponivel">
      <div class="col-xs-12 consult" style="color: #ff3728">
        Indisponível
      </div>
    </div>
  </div>
  <div class="col-xs-12 detail" ng-hide="$root.produto.descricao == '' && $root.produto.palavraschaves == ''">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-2" ng-hide="$root.produto.descricao == '' && $root.produto.palavraschaves == ''">
        <a href="#descricao">Descrição</a>
      </div>
    </div>
    <div class="row">
      <hr/>
    </div>
    <div class="row" ng-hide="$root.produto.descricao == ''" ng-bind-html="$root.produto.descricao">

    </div>
    <div class="row" ng-hide="$root.produto.descricao != '' && $root.produto.palavraschaves == ''" ng-bind-html="$root.produto.palavraschaves">

    </div>
    <div class="row">
      <hr/>
    </div>
  </div>
</div>