<div class="row">
	<div class="breadcrumb">
		<ul class="no-bullet">
      <li ng-repeat="categoria in breadcrumb" ng-class="{'active': categoria.id == $root.produto.categorias[0].id}" ng-if="categoria.id > 0">
        > <a ui-sref="category({idcategoria: categoria.id + '-' + categoria.url.url})">{{categoria.nome}}</a>
      </li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="title-holder">
		<h1>{{produto.nome}}</h1>
	</div>
</div>

<div class="row">
	<div class="produtcs-detail">
		<!-- Fotos do produtos -->
		<div class="products-photos">
			<div class="main-photo">
				<img ng-src="{{imagens.destaque.imagem.medium}}" alt="">
			</div>

			<div class="mini-photos" ng-if="imagens.lista.length > 0">
				<ul class="no-bullet cycle-slideshow" 
			    data-cycle-fx="scrollHorz"
			    data-cycle-timeout="0"
			    data-cycle-slides="> li"
			    data-cycle-pager=".mini-photos #pager"
			    >
				<li class="group" ng-repeat="grupo in imagens.lista">
					<ul class="no-bullet">
						<li ng-repeat="imagem in grupo"><a class="fancybox" href="{{imagem.imagem.real}}"><img ng-src="{{imagem.imagem.thumb}}" alt=""></a></li>
					</ul>
				</li>

				</ul>
				<div class="pager" id="pager" ng-if="imagens.lista.length > 1"></div>
			</div>
		</div>

		<!-- Detalhes -->
		<div class="product-detail">
			<div class="price">
				<span ng-if="produto.valorreal > 0">{{produto.valorreal | moeda:"U$ "}}</span>
				<small ng-if="produto.valorreal > 0 && $root.cambio > 0">Câmbio: 1 U$ = ({{$root.cambio | moeda}}) - Preço em {{$root.cambio * produto.valorreal | moeda:"R$ "}}</small>

				<div class="more-of-brand">
					Mais produtos da Marca: <a ui-sref="brand({idmarca: produto.marca.id + '-' + produto.marca.url.url})">{{produto.marca.nome}}</a>
				</div>

				<div class="code">
					Código do produto: {{produto.codigo}}
					<div class="availability" style="display: none">Produto disponivel</div>
				</div>
			</div>

			<ul class="no-bullet list-actions" style="display: none;">
				<li>
					<a href="">
						<div class="icon">
							<img src="assets/images/widgets/products/li-act-cart.jpg" alt="">
						</div>

						<span class="title">
							Adicionar a lista
							<small>
								SALVAR A MINHA LISTA DE PEDIDO
							</small>
						</span>
					</a>
				</li>

				<li>
					<a href="">
						<div class="icon">
							<img src="assets/images/widgets/products/li-act-suggest.jpg" alt="">
						</div>

						<span class="title yellow">
							Adicionar a lista
							<small>
								SALVAR A MINHA LISTA DE PEDIDO
							</small>
						</span>
					</a>
				</li>

				<li>
					<a href="">
						<div class="icon">
							<img src="assets/images/widgets/products/li-act-contact.jpg" alt="">
						</div>

						<span class="title blue">
							Adicionar a lista
							<small>
								SALVAR A MINHA LISTA DE PEDIDO
							</small>
						</span>
					</a>
				</li>
			</ul>
			
			<div class="social" style="display: none;">
				<h6>Compartile</h6>

				<ul class="no-bullet">
					<li>
						<div class="count">
							30
						</div>

						<div class="icon">
							<img src="assets/images/icons/social/fb.jpg" alt="">
						</div>
					</li>

					<li>
						<div class="count">
							30
						</div>

						<div class="icon">
							<img src="assets/images/icons/social/tw.jpg" alt="">
						</div>
					</li>

					<li>
						<div class="count">
							30
						</div>

						<div class="icon">
							<img src="assets/images/icons/social/yt.jpg" alt="">
						</div>
					</li>

					<li>
						<div class="count">
							30
						</div>

						<div class="icon">
							<img src="assets/images/icons/social/gp.jpg" alt="">
						</div>
					</li>

					<li>
						<div class="count">
							30
						</div>

						<div class="icon">
							<img src="assets/images/icons/social/in.jpg" alt="">
						</div>
					</li>
				</ul>
			</div>		
		</div>
	</div>
</div>

<div class="row" ng-if="produto.descricao != '' || produto.manual != ''">
	<dl class="tabs" data-tab>
		<dd ng-if="produto.descricao != ''" class="active"><a href="#panel2-1">Descrição</a></dd>
		<dd style="display: none"><a href="#panel2-2">Vídeos</a></dd>
		<dd ng-if="produto.manual != ''" ng-class="{active: produto.manual != '' && produto.descricao == ''}"><a href="#panel2-3">Manual</a></dd>
		<dd style="display: none"><a href="#panel2-4">Garantia</a></dd>
	</dl>
	<div class="tabs-content">
		<div class="content" ng-class="{active: produto.descricao != ''}" id="panel2-1" ng-if="produto.descricao != ''" ng-bind-html="trustAsHtml(produto.descricao)">
		</div>
		<div class="content" id="panel2-2" style="display: none;">
		</div>
		<div class="content" ng-class="{active: produto.manual != '' && produto.descricao == ''}" id="panel2-3">
		  <a href="{{produto.manual}}" target="_blank"><img src="/images/icons/manual_descricao.jpg" border="0" /></a>
		</div>
		<div class="content" id="panel2-4" style="display: none">
		</div>
	</div>
</div>

<!-- Carrosel -->
<!-- Carrosel -->
<div class="carousel-big" ng-if="gruposRelacionados.length > 0">
	<div class="row">
		<ul class="no-bullet cycle-slideshow" 
	    data-cycle-fx=scrollHorz
	    data-cycle-timeout=5000
	    data-cycle-slides="> li"
	    data-cycle-pager=".carousel-big #pager"
	    >
		    <li class="group" ng-repeat="grupoRelacionado in gruposRelacionados">
		    	<ul class="no-bullet">
		    		<li ng-repeat="produto in grupoRelacionado">
		    			<a ui-sref="product({idcategoria: produto.urlcategoria, idproduto: produto.urlproduto})" ng-click="$root.setProduto(produto)">
  	    				<img ng-src="{{produto.imagens[0].imagem.thumb}}" alt="">
  	    				<span class="price">{{produto.amostra}}</span>
  	    				<span class="title">{{produto.nome}}</span>
  	    			</a>
		    		</li>
		    	</ul>
		    </li>
		</ul>

		<div class="ctrl ctrl-pager" id="pager" ng-if="gruposRelacionados.length > 1"></div>
	</div>
</div>


<!-- Marcas -->
<div class="row" style="display: none;">
	<ul class="no-bullet slider-brands">
		<li><a href=""><img src="assets/images/brands/1.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/2.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/3.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/4.png" alt=""></a></li>
		<li><a href=""><img src="assets/images/brands/5.png" alt=""></a></li>
	</ul>
</div>


<!-- Produtos -->		
<div class="list-products" ng-if="$root.lancamentos.length > 0">
	<div class="row">
		<h4>Lançamentos</h4>
	</div>

	<ul class="no-bullet list-of-products list-of-products-centered">
		<li ng-repeat="produto in $root.lancamentos | limitTo:2">
			<a ui-sref="product({idcategoria: produto.urlcategoria, idproduto: produto.urlproduto})" ng-click="$root.setProduto(produto)">
  			<div class="img-holder">
  				<img ng-src="{{produto.imagens[0].imagem.thumb}}" alt="">
  			</div>

  			<span class="title">
  				{{produto.nome}}
  			</span>

  			<span class="price">
  				{{produto.amostra}}
  			</span>
  		</a>
		</li>
	</ul>
</div>

<!-- Newsletter -->
<div class="row">
	<div class="newsletter">
		<div class="title">
			Receba em seu email nossas melhores ofertas.
		</div>

		<form action="">
			<input type="text" placeholder="nome">
			<input type="text" placeholder="e-mail">

			<input type="submit" value="enviar">
		</form>
	</div>
</div>