<div class="row">
	<div class="breadcrumb">
		<ul class="no-bullet" ng-hide="$root.search.breadcrumb === undefined">
			<li ng-repeat="categoria in $root.search.breadcrumb"
          ng-class="{'active': categoria.id == $root.produto.categorias[0].id && !$root.search.brand}"
          ng-if="categoria.id > 0">
        / <a ui-sref="category({idcategoria: categoria.id + '-' + categoria.url.url})">{{categoria.nome}}</a>
      </li>
      <li ng-if="$root.search.brand.nome">
        / {{$root.search.brand.nome}}
      </li>
		</ul>
		<ul class="no-bullet" ng-hide="$root.search.term === undefined">
		  <li class="active">Você buscou por <span class="glyphicon glyphicon-chevron-right"></span> '{{$root.search.term}}'
      </li>
	  </ul>
	</div>
</div>

<div class="row">
	<br>
</div>

<div class="row" ng-if="$root.search.result.length > 0">
  <div class="small-12 medium-4 columns">
    <span class="input-group-addon" id="order">Ordenar por: </span>
    <select class="form-control" id="order" ng-model="$root.search.order" ng-change="buscar()" style="width: 130px;">
      <option value="1">A - Z</option>
      <option value="2">Z - A</option>
      <option value="3">Maior Preço</option>
      <option value="4">Menor Preço</option>
    </select>
  </div>
  <div class="small-12 medium-3 columns" ng-if="$root.search.marcas.length > 0">
    <span class="input-group-addon" id="order">Marca: </span>
    <select class="form-control" id="brand-product-list" ng-model="$root.search.brand" ng-change="selecionarMarca()" style="width: 130px;"
      ng-options="marca.nome for marca in $root.search.marcas">
      <option value="">Todas</option>
    </select>
  </div>
  <div class="paginator small-12 medium-5 columns"
       ng-if="$root.search.pagination.pages.length > 1 && $root.search.category.id && !$root.search.brand.id">
    <ul class="pagination">
      <li ng-class="{'unavailable': $root.search.pagination.page == 1}">
        <a ui-sref="category-page({idcategoria: $root.search.category.id + '-' + $root.search.category.url.url, page: $root.search.pagination.page-1})" aria-label="Anterior"
           ng-hide="$root.search.pagination.page == 1" ng-click="buscar($root.search.pagination.page-1)"><span
          aria-hidden="true">&laquo;</span></a>
        <span aria-hidden="true" ng-hide="$root.search.pagination.page > 1">&laquo;</span>
      </li>
      <li ng-repeat="pag in $root.search.pagination.pages"
          ng-class="{'current': pag == $root.search.pagination.page}" ng-click="buscar(pag)">
          <a
            ui-sref="category-page({idcategoria: $root.search.category.id + '-' + $root.search.category.url.url, page: pag})"
            >{{pag}}</a></li>
      <li ng-class="{'unavailable': $root.search.pagination.page == $root.search.pagination.totalPages}">
        <a ui-sref="category-page({idcategoria: $root.search.category.id + '-' + $root.search.category.url.url, page: $root.search.pagination.page+1})" aria-label="Próximo"
           ng-hide="$root.search.pagination.page == $root.search.pagination.totalPages"
           ng-click="buscar($root.search.pagination.page+1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
        <span aria-hidden="true"
              ng-hide="$root.search.pagination.page < $root.search.pagination.totalPages">&raquo;</span>
      </li>
    </ul>
  </div>
  <div class="paginator small-12 medium-5 columns"
       ng-if="$root.search.pagination.pages.length > 1 && !$root.search.category.id && $root.search.brand.id">
    <ul class="pagination">
      <li ng-class="{'unavailable': $root.search.pagination.page == 1}">
        <a ui-sref="brand-page({idmarca: $root.search.brand.id + '-' + $root.search.brand.url.url, page: $root.search.pagination.page-1})" aria-label="Anterior"
           ng-hide="$root.search.pagination.page == 1" ng-click="buscar($root.search.pagination.page-1)"><span
          aria-hidden="true">&laquo;</span></a>
        <span aria-hidden="true" ng-hide="$root.search.pagination.page > 1">&laquo;</span>
      </li>
      <li ng-repeat="pag in $root.search.pagination.pages"
          ng-class="{'current': pag == $root.search.pagination.page}" ng-click="buscar(pag)">
          <a
            ui-sref="brand-page({idmarca: $root.search.brand.id + '-' + $root.search.brand.url.url, page: pag})"
            >{{pag}}</a></li>
      <li ng-class="{'unavailable': $root.search.pagination.page == $root.search.pagination.totalPages}">
        <a ui-sref="brand-page({idmarca: $root.search.brand.id + '-' + $root.search.brand.url.url, page: $root.search.pagination.page+1})" aria-label="Próximo"
           ng-hide="$root.search.pagination.page == $root.search.pagination.totalPages"
           ng-click="buscar($root.search.pagination.page+1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
        <span aria-hidden="true"
              ng-hide="$root.search.pagination.page < $root.search.pagination.totalPages">&raquo;</span>
      </li>
    </ul>
  </div>
  <div class="paginator small-12 medium-5 columns"
       ng-if="$root.search.pagination.pages.length > 1 && $root.search.category.id && $root.search.brand.id">
    <ul class="pagination">
      <li ng-class="{'unavailable': $root.search.pagination.page == 1}">
        <a ui-sref="category-brand-page({idcategoria: $root.search.category.id + '-' + $root.search.category.url.url, idmarca: $root.search.brand.id + '-' + $root.search.brand.url.url, page: $root.search.pagination.page-1})" aria-label="Anterior"
           ng-hide="$root.search.pagination.page == 1" ng-click="buscar($root.search.pagination.page-1)"><span
          aria-hidden="true">&laquo;</span></a>
        <span aria-hidden="true" ng-hide="$root.search.pagination.page > 1">&laquo;</span>
      </li>
      <li ng-repeat="pag in $root.search.pagination.pages"
          ng-class="{'current': pag == $root.search.pagination.page}" ng-click="buscar(pag)">
          <a
            ui-sref="category-brand-page({idcategoria: $root.search.category.id + '-' + $root.search.category.url.url, idmarca: $root.search.brand.id + '-' + $root.search.brand.url.url, page: pag})"
            >{{pag}}</a></li>
      <li ng-class="{'unavailable': $root.search.pagination.page == $root.search.pagination.totalPages}">
        <a ui-sref="category-brand-page({idcategoria: $root.search.category.id + '-' + $root.search.category.url.url, idmarca: $root.search.brand.id + '-' + $root.search.brand.url.url, page: $root.search.pagination.page+1})" aria-label="Próximo"
           ng-hide="$root.search.pagination.page == $root.search.pagination.totalPages"
           ng-click="buscar($root.search.pagination.page+1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
        <span aria-hidden="true"
              ng-hide="$root.search.pagination.page < $root.search.pagination.totalPages">&raquo;</span>
      </li>
    </ul>
  </div>
</div>

<!-- Produtos -->		
<div class="list-products">

  <div ng-if="$root.search.result.length === 0 && $root.search.load" align="center">
    Nenhum resultado encontrado.
  </div>

	<ul class="no-bullet row list-of-products" ng-if="$root.search.result.length > 0">
		<li class="small-12 medium-4 columns" ng-repeat="produto in $root.search.result">
			<a ui-sref="product({idcategoria: produto.urlcategoria, idproduto: produto.urlproduto})" ng-click="$root.setProduto(produto)">
  			<div class="img-holder">
  				<img ng-src="{{produto.imagens[0].imagem.thumb}}" alt="">
  			</div>

  			<span class="title">
  				{{produto.nome}}
  			</span>

  			<span class="price">
  				{{produto.amostra}}
  			</span>
  		</a>
		</li>
	</ul>
</div>

<div class="row hide-for-medium-up" ng-if="$root.search.result.length > 0">
  <div class="paginator small-12 medium-5 columns"
       ng-if="$root.search.pagination.pages.length > 1 && $root.search.category.id && !$root.search.brand.id">
    <ul class="pagination">
      <li ng-class="{'unavailable': $root.search.pagination.page == 1}">
        <a ui-sref="category-page({idcategoria: $root.search.category.id + '-' + $root.search.category.url.url, page: $root.search.pagination.page-1})" aria-label="Anterior"
           ng-hide="$root.search.pagination.page == 1" ng-click="buscar($root.search.pagination.page-1)"><span
          aria-hidden="true">&laquo;</span></a>
        <span aria-hidden="true" ng-hide="$root.search.pagination.page > 1">&laquo;</span>
      </li>
      <li ng-repeat="pag in $root.search.pagination.pages"
          ng-class="{'current': pag == $root.search.pagination.page}" ng-click="buscar(pag)">
          <a
            ui-sref="category-page({idcategoria: $root.search.category.id + '-' + $root.search.category.url.url, page: pag})"
            >{{pag}}</a></li>
      <li ng-class="{'unavailable': $root.search.pagination.page == $root.search.pagination.totalPages}">
        <a ui-sref="category-page({idcategoria: $root.search.category.id + '-' + $root.search.category.url.url, page: $root.search.pagination.page+1})" aria-label="Próximo"
           ng-hide="$root.search.pagination.page == $root.search.pagination.totalPages"
           ng-click="buscar($root.search.pagination.page+1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
        <span aria-hidden="true"
              ng-hide="$root.search.pagination.page < $root.search.pagination.totalPages">&raquo;</span>
      </li>
    </ul>
  </div>
  <div class="paginator small-12 medium-5 columns"
       ng-if="$root.search.pagination.pages.length > 1 && !$root.search.category.id && $root.search.brand.id">
    <ul class="pagination">
      <li ng-class="{'unavailable': $root.search.pagination.page == 1}">
        <a ui-sref="brand-page({idmarca: $root.search.brand.id + '-' + $root.search.brand.url.url, page: $root.search.pagination.page-1})" aria-label="Anterior"
           ng-hide="$root.search.pagination.page == 1" ng-click="buscar($root.search.pagination.page-1)"><span
          aria-hidden="true">&laquo;</span></a>
        <span aria-hidden="true" ng-hide="$root.search.pagination.page > 1">&laquo;</span>
      </li>
      <li ng-repeat="pag in $root.search.pagination.pages"
          ng-class="{'current': pag == $root.search.pagination.page}" ng-click="buscar(pag)">
          <a
            ui-sref="brand-page({idmarca: $root.search.brand.id + '-' + $root.search.brand.url.url, page: pag})"
            >{{pag}}</a></li>
      <li ng-class="{'unavailable': $root.search.pagination.page == $root.search.pagination.totalPages}">
        <a ui-sref="brand-page({idmarca: $root.search.brand.id + '-' + $root.search.brand.url.url, page: $root.search.pagination.page+1})" aria-label="Próximo"
           ng-hide="$root.search.pagination.page == $root.search.pagination.totalPages"
           ng-click="buscar($root.search.pagination.page+1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
        <span aria-hidden="true"
              ng-hide="$root.search.pagination.page < $root.search.pagination.totalPages">&raquo;</span>
      </li>
    </ul>
  </div>
  <div class="paginator small-12 medium-5 columns"
       ng-if="$root.search.pagination.pages.length > 1 && $root.search.category.id && $root.search.brand.id">
    <ul class="pagination">
      <li ng-class="{'unavailable': $root.search.pagination.page == 1}">
        <a ui-sref="category-brand-page({idcategoria: $root.search.category.id + '-' + $root.search.category.url.url, idmarca: $root.search.brand.id + '-' + $root.search.brand.url.url, page: $root.search.pagination.page-1})" aria-label="Anterior"
           ng-hide="$root.search.pagination.page == 1" ng-click="buscar($root.search.pagination.page-1)"><span
          aria-hidden="true">&laquo;</span></a>
        <span aria-hidden="true" ng-hide="$root.search.pagination.page > 1">&laquo;</span>
      </li>
      <li ng-repeat="pag in $root.search.pagination.pages"
          ng-class="{'current': pag == $root.search.pagination.page}" ng-click="buscar(pag)">
          <a
            ui-sref="category-brand-page({idcategoria: $root.search.category.id + '-' + $root.search.category.url.url, idmarca: $root.search.brand.id + '-' + $root.search.brand.url.url, page: pag})"
            >{{pag}}</a></li>
      <li ng-class="{'unavailable': $root.search.pagination.page == $root.search.pagination.totalPages}">
        <a ui-sref="category-brand-page({idcategoria: $root.search.category.id + '-' + $root.search.category.url.url, idmarca: $root.search.brand.id + '-' + $root.search.brand.url.url, page: $root.search.pagination.page+1})" aria-label="Próximo"
           ng-hide="$root.search.pagination.page == $root.search.pagination.totalPages"
           ng-click="buscar($root.search.pagination.page+1)">
          <span aria-hidden="true">&raquo;</span>
        </a>
        <span aria-hidden="true"
              ng-hide="$root.search.pagination.page < $root.search.pagination.totalPages">&raquo;</span>
      </li>
    </ul>
  </div>
</div>