<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <title>Grupo Braziliana</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">

    <meta property="og:locale" content="pt_BR"/>
    <meta property="og:url" content="https://www.grupobraziliana.com.br">
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Grupo Braziliana"/>
    <meta property="og:image" content="http://www.grupobraziliana.com.br/images/icon.jpg"/>
    <meta property="og:image:secure_url" content="https://www.grupobraziliana.com.br/images/icon.jpg"/>
    <meta property="og:site_name" content="Grupo Braziliana"/>
	<meta property="og:description" content="Lançamentos e novidades é aqui na GRUPOBRAZILIANA.com.br">

    <!--[if lt IE 9]>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  	<script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  	<script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  	<![endif]-->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/angular-block-ui/dist/angular-block-ui.css" />
    <link rel="stylesheet" href="/bower_components/foundation/css/foundation.css" />
    <link rel="stylesheet" href="/bower_components/fancybox/source/jquery.fancybox.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css(.tmp) styles/main.css -->
	  <link rel="stylesheet" href="styles/app.css">
	  <link rel="stylesheet" href="styles/top-bar.css">
    <!-- endbuild -->

    <!--Start of Zendesk Chat Script-->
  <script type="text/javascript">
  window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
  d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
  _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
  $.src="https://v2.zopim.com/?5WTqulB5KHXQsvv2K19dj55EcbuXviVx";z.t=+new Date;$.
  type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
  </script>
  <!--End of Zendesk Chat Script-->

  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="top-bar hide-for-medium-up" data-topbar="" role="navigation" style="">
        <ul class="title-area">

            <li class="name">
                <a ui-sref="home">
  				  <div class="logo">
  				      <img src="images/logo.png" height="90%" />
  				  </div>
				</a>
            </li>

            <li class="toggle-topbar menu-icon">
                <a href=""><span>Menu</span></a>
            </li>
        </ul>

        <section class="top-bar-section" style="left: -200%;">
            <ul class="left">
                <li ng-repeat="categoria in $root.categorias">
                    <a ui-sref="category({idcategoria: categoria.id + '-' + categoria.url.url})">
                        <span class="icon">
      						<img ng-src="{{categoria.imagem}}" alt="">
      					</span>
      					<span class="title" ng-bind="categoria.nome"></span>
                    </a>
                </li>
                <li>
                    <a href="#list-brand" class="all fancybox-list-brands">MARCAS</a>
                </li>
                <li>
                    <a href="#">LISTA DE PREÇOS</a>
                </li>
                <li>
                    <a ui-sref="sellers">VENDEDORES</a>
                </li>
                <li>
                    <a ui-sref="contato">CONTATO</a>
                </li>
            </ul>
        </section>
    </nav>

    <div class="site-wrapper">
  		<header>
  			<div class="row row-logo show-for-medium-up">
  				<div class="small-12 medium-4 columns">
  					<a ui-sref="home">
  					  <img src="images/logo.png" class="logo" />
					</a>
  				</div>

  				<div class="header-links small-12 medium-4 columns">

  				</div>

  				<div class="right small-12 medium-4 columns">
  					<div class="notification">
  						AVISO IMPORTANTE
  						<small>NÃO FAZEMOS ENTREGA</small>
  					</div>

  					<div class="cart" style="display: none;">
  						20 ítens
  						<small>MEU ORÇAMENTO</small>
  					</div>
  				</div>
  			</div>

  			<nav class="show-for-medium-up">
  				<div class="row" style="max-width: 74rem;">
  					<!-- links das categorias -->
  					<ul class="no-bullet nav-main-links" style="width: 74rem;" ng-if="$root.categorias.length > 0">
  						<li ng-repeat="categoria in $root.categorias">
  							<a ui-sref="category({idcategoria: categoria.id + '-' + categoria.url.url})">
  								<span class="icon">
  									<img ng-src="{{categoria.imagem}}" alt="">
  								</span>
  								<span class="title" ng-bind="categoria.nome"></span>
  							</a>
  						</li>

  						<li>
  							<a href="#list-brand" class="all fancybox-list-brands">
  								<span class="title">TODA A LOJA</span>
  							</a>
  						</li>
  					</ul>

  					<!-- links logo abaixo das categorias -->
  					<ul class="no-bullet nav-other-links">
  						<li>
  							<a ui-sref="brands">
  								<span class="icon">
  									<img src="images/icons/nav/brands.png" alt="">
  								</span>
  								<span class="title">NOSSAS MARCAS</span>
  							</a>
  						</li>

  						<li>
  							<a href="produtos.html">
  								<span class="icon">
  									<img src="images/icons/nav/prices.png" alt="">
  								</span>
  								<span class="title">LISTA DE PREÇOS</span>
  							</a>
  						</li>

  						<!--<li>
  							<a href="produtos.html">
  								<span class="icon">
  									<img src="images/icons/nav/chat.png" alt="">
  								</span>
  								<span class="title">CHAT-ONLINE</span>
  							</a>
  						</li> -->

  						<li>
  							<a ui-sref="sellers">
  								<span class="icon">
  									<img src="images/icons/nav/sellers.png" alt="">
  								</span>
  								<span class="title">VENDEDORES</span>
  							</a>
  						</li>

  						<li>
  							<a ui-sref="contato">
  								<span class="icon">
  									<img src="images/icons/nav/phone.png" alt="">
  								</span>
  								<span class="title">CONTATO</span>
  							</a>
  						</li>
  					</ul>
  				</div>
  			</nav>

  			<div class="search">
					<form action="" method="post" ng-submit="$root.$state.go('search', {busca: angular.element('#search-xs').val()});" onsubmit="window.history.pushState('', '', '/search/'+angular.element('#search-xs').val()); angular.element('#search-xs').val(''); return false;">
  					<div class="row collapse">
    					<div class="small-7 medium-4 medium-offset-3 columns">
    					  <input type="text" name="search" id="search-xs" placeholder="Olá, o que você esta procurando hoje?" />
    					</div>
    					<div class="small-5 medium-2 columns end">
    					  <button class="button postfix" type="submit">BUSCAR</button>
    					</div>
  					</div>
  				</form>
  			</div>

  		</header>


  		<!-- inicio da página -->
  		<main id="main" ui-view>

  		</main>

  		<footer>
  			<!-- Buscar -->
  			<div class="search">
  				<form action="" method="post" ng-submit="$root.$state.go('search', {busca: angular.element('#search-xs').val()});" onsubmit="window.history.pushState('', '', '/search/'+angular.element('#search-xs').val()); angular.element('#search-xs').val(''); return false;">
  					<div class="row collapse">
  					  <div class="small-7 medium-4 medium-offset-3 columns">
    					  <input type="text" name="search" id="search-xs" placeholder="Olá, o que você esta procurando hoje?" />
    					</div>
    					<div class="small-5 medium-2 columns end">
    					  <button class="button postfix" type="submit">BUSCAR</button>
    					</div>
  					</div>
  				</form>
  			</div>

  			<!-- Nossas marcas, etc -->
  			<div class="nav">
  				<ul class="no-bullet">
  					<li>
  						<a href="produtos.html">
  							<span class="icon">
  								<img src="images/icons/nav/brands.png" alt="">
  							</span>
  							<span class="title">NOSSAS MARCAS</span>
  						</a>
  					</li>

  					<li>
  						<a href="produtos.html">
  							<span class="icon">
  								<img src="images/icons/nav/prices.png" alt="">
  							</span>
  							<span class="title">LISTA DE PREÇOS</span>
  						</a>
  					</li>

  					<!-- <li>
  						<a href="produtos.html">
  							<span class="icon">
  								<img src="images/icons/nav/chat.png" alt="">
  							</span>
  							<span class="title">CHAT-ONLINE</span>
  						</a>
  					</li> -->

  					<li>
  						<a href="produtos.html">
  							<span class="icon">
  								<img src="images/icons/nav/sellers.png" alt="">
  							</span>
  							<span class="title">VENDEDORES</span>
  						</a>
  					</li>

  					<li>
							<a ui-sref="contato">
  							<span class="icon">
  								<img src="images/icons/nav/phone.png" alt="">
  							</span>
  							<span class="title">CONTATO</span>
  						</a>
  					</li>
  				</ul>
  			</div>

  			<!--  -->
  			<div class="main-footer">
  				<span>
  					<div style="display: none;">
  						<ul class="no-bullet">
  							<li><a href="#">Formas de Pagamentos</a></li>
  							<li><a href="#">Garantia,Troca e Devoluções</a></li>
  							<li><a href="#">Entrega</a></li>
  							<li><a href="#">Institucional</a></li>
  						</ul>
  					</div>

  					<div style="display: none;">
  						<ul class="no-bullet">
  							<li><a href="#">Meu Orçamento</a></li>
  							<li><a href="#">Perguntas Mais Frequentes</a></li>
  							<li><a href="#">Vendedores</a></li>
  							<li><a href="#">Nossas Lojas</a></li>
  						</ul>
  					</div>

  					<div class="show-for-medium-up">
  						<div class="notification">
  							AVISO IMPORTANTE
  							<small>NÃO FAZEMOS ENTREGA</small>
  						</div>
  					</div>
  				</span>
  			</div>

  			<div class="by">
  				<a href="http://www.rw1digital.com">
  					<img src="images/footer/by.png" alt="">
  				</a>
  			</div>
  		</footer>
  	</div>

  	<!-- Todas as marcas -->
  	<div id="list-brand" class="hide">
  		<ul class="no-bullet modal-list-brand">
  			<li ng-repeat="marca in $root.marcas"><a ui-sref="brand({idmarca: marca.id + '-' + marca.url.url})" onclick="$.fancybox.close();">{{marca.nome}}</a></li>
  		</ul>
  	</div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/angular-route/angular-route.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
    <script src="/bower_components/jquery-cycle2/build/jquery.cycle2.js"></script>
    <script src="/bower_components/jscroll/jquery.jscroll.js"></script>
    <script src="/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="/bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script src="/bower_components/jquery-placeholder/jquery.placeholder.js"></script>
    <script src="/bower_components/foundation/js/foundation.js"></script>
    <script src="/bower_components/fancybox/source/jquery.fancybox.js"></script>
    <script src="/bower_components/jquery_lazyload/jquery.lazyload.js"></script>
    <script src="/bower_components/jquery_lazyload/jquery.scrollstop.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="assets/js/Application.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/shared/directives.js"></script>
    <script src="assets/js/shared/filters.js"></script>
    <script src="assets/js/main.js"></script>
    <!-- endbuild -->

  </body>
</html>
