
.owl-brands .owl-wrapper-outer {
  width: calc(100% - 17px);
  margin: 0 0 0 17px;
}

.owl-brands .owl-controls{
  width: 100%;
  .owl-buttons>div {
    position: absolute;
    top: calc(50% - 16px);
    &.owl-next{
      left: 100%;
    }
  }
}

/* Styling Next and Prev buttons */

.owl-brands .owl-controls .owl-buttons div{
  width: 17px;
  height: 33px;
  &.owl-prev{
    float: left;
    background: url("/images/arrow-left-brands-carousel.gif") no-repeat;
  }
  &.owl-next{
    float: right;
    background: url("/images/arrow-right-brands-carousel.gif") no-repeat;
  }
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-brands .owl-controls.clickable .owl-buttons div:hover{

}

/* Styling Pagination*/

.owl-brands .owl-controls .owl-page{

}
.owl-brands .owl-controls .owl-page span{

}

.owl-brands .owl-controls .owl-page.active span,
.owl-brands .owl-controls.clickable .owl-page:hover span{

}

/* If PaginationNumbers is true */

.owl-brands .owl-controls .owl-page span.owl-numbers{

}

/* preloading images */
.owl-item.loading{

}
