#SexyAlert-Box {
  padding-bottom: 24px;
  background: url('SexyAlert/bg-box-bottom.png') bottom left no-repeat !important;
  background: url('SexyAlert/bg-box-bottom.gif') bottom left no-repeat;
}

#SexyAlert-InBox {
  padding-top: 15px;
  background: url('SexyAlert/bg-box-top.png') top left no-repeat !important;	
  background: url('SexyAlert/bg-box-top.gif') top left no-repeat;	
}

#SexyAlert-BoxContent {
  background: url('SexyAlert/bg-box-body.png') top left repeat-y !important;
  background: url('SexyAlert/bg-box-body.gif') top left repeat-y;
  padding: 0px 20px;
}

#SexyAlert-BoxContenedor {
  padding: 0px 0px 5px 55px;
  text-align: left;
  font-family:Verdana;
  font-size:12px;
  color:#000;
}

#SexyAlert-BoxContenedor h1,#SexyAlert-BoxContenedor h2,#SexyAlert-BoxContenedor h3,#SexyAlert-BoxContenedor b,#SexyAlert-BoxContenedor strong{
  text-align: left;
  font-family:Verdana;
  font-size:12px;
  color:#000;
  font-weight:bold;
  margin:0px;
  padding:0px;
}

#SexyAlert-Buttons{
  text-align:right;
}

#SexyAlert-Buttons input {
  margin: 10px 10px;
}

#SexyAlert-BoxContenedor #BoxPromptInput{
  margin-top:5px;
}

#SexyAlert-Box .BoxAlert {
  background: url('SexyAlert/dialog-warning.png') top left no-repeat;
}

#SexyAlert-Box .BoxConfirm {
  background: url('SexyAlert/dialog-help.png') top left no-repeat;
}

#SexyAlert-Box .BoxPrompt {
  background: url('SexyAlert/dialog-help.png') top left no-repeat;
}

#SexyAlert-Box .BoxInfo {
  background: url('SexyAlert/dialog-information.png') top left no-repeat;
}

#SexyAlert-Box .BoxError {
  background: url('SexyAlert/dialog-error.png') top left no-repeat;
}